@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>接单人信息</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="hidden-xs" id="OrderapplyTableToolbar" role="group">
                            @if(shiro.hasPermission("/orderapply/getorder")){
                            <#button name="取消资格" icon="fa-remove" clickFun="Placeapply.refuse()" space="true"/>
                            @}
                        </div>
                        <#table id="GetOrderTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/orderapply/getorder.js"></script>
@}
