@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>订单管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="hidden-xs" id="OrderTableToolbar" role="group">
                            @if(shiro.hasPermission("/orderapply/add")){
                            <#button name="申请成为接单人" icon="fa-plus" clickFun="Orderapply.openAddOrderapply()"/>
                            @}
                            @if(shiro.hasPermission("/order/add")){
                                <#button name="发布订单" icon="fa-plus" clickFun="Order.openAddOrder()"/>
                            @}
                            <#button name="接单" icon="fa-remove" clickFun="Order.getOrder()" space="true"/>
                        </div>
                        <#table id="OrderTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/order/order.js"></script>
<script src="${ctxPath}/static/modular/system/orderapply/orderapply.js"></script>
@}
