@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>已发布</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="hidden-xs" id="DeptTableToolbar" role="group">
                            <#button name="确定收货" icon="fa-plus" clickFun="Placeapply.openDeptDetail()" space="true"/>
                        </div>
                        <#table id="GetOrderTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/order/publishorder.js"></script>
@}
