<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.ApplyordernumMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Applyordernum">
        <id column="id" property="id" />
        <result column="userid" property="userid" />
        <result column="mobile" property="mobile" />
        <result column="applynum" property="applynum" />
        <result column="adminid" property="adminid" />
        <result column="status" property="status" />
        <result column="createdate" property="createdate" />
        <result column="reviewdate" property="reviewdate" />
        <result column="deleteflag" property="deleteflag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userid, mobile, applynum, adminid, status, createdate, reviewdate, deleteflag
    </sql>

</mapper>
