<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.PlaceapplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Placeapply">
        <id column="id" property="id" />
        <result column="userid" property="userid" />
        <result column="address" property="address" />
        <result column="description" property="description" />
        <result column="mobile" property="mobile" />
        <result column="introduction" property="introduction" />
        <result column="createdate" property="createdate" />
        <result column="adminid" property="adminid" />
        <result column="reviewdate" property="reviewdate" />
        <result column="status" property="status" />
        <result column="deleteflag" property="deleteflag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userid, address, description, mobile, introduction, createdate, adminid, reviewdate, status, deleteflag
    </sql>

    <select id="selectPlaceApply" resultType="map">
        select
        <include refid="Base_Column_List" />
        from sys_placeapply
        where deleteflag = 0
        <if test="address != null and address != ''">
            and address like CONCAT('%',#{address},'%')
        </if>
        <if test="status != null  and status != 3">
            and status = #{status}
        </if>
    </select>

</mapper>
